body{
    margin: 0;
    padding: 0;
    width:500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
hr{
    width: 95%;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#gfglogo{
    height: 23px;
}
#github_logo{
    height: 25px;
}
#ext_name{
    margin: 10px auto 2px;
}
#tagline{
    margin-top: 0;
    text-align: center;
    font-size: 15px;
}
.instructions{
    text-align: center;
}
#authentication_phase{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#link_repo_phase{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#link_repo_redirect{
    text-decoration: none;
    color: #fff !important;
}
#repository_link{
  font-size: 14px;
}
button {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    display: flex;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 8px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    max-width: 150px;
    margin: 0 auto 20px;
  }
  
  button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  button:hover {
    background-color: #2c974b;
  }
  
  button:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  button:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  #githublogo_button{
    height: 20px;
  }
  #dev_contact{
    display: flex;
    justify-content: center;
    margin: 14px 0;
  }
  #dev_contact img{
    height: 16px;
    margin: 0 15px;
  }
  #solve_and_push_phase{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #solve_and_push_phase span{
    font-weight: bold;
  }
  .solved{
    margin-top: 0;
  }
  #darkmode-toggle-label {
    width:100px;
    height:40px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 40px;
    box-shadow: inset 0px 2px 5px rgba(0,0,0,0.4), inset 0px -2px 5px rgba(255,255,255,0.4);
    cursor: pointer;
    transition: 0.3s;
  }
  #darkmode-toggle-label:after {
    content: "";
    width:36px;
    height: 36px;
    position: absolute;
    top:2px;
    left:2px;
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 36px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  #darkmode{
    position: absolute;
    z-index: 100;
    margin: -20px 20px;
  }
  #darkmode-toggle {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  #darkmode-toggle:checked + #darkmode-toggle-label {
    background: #242424;
  }
  #darkmode-toggle:checked + #darkmode-toggle-label:after {
    left:98px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
  }
  #darkmode-toggle-label:active:after{
    width: 52px;
  }
  #darkmode-toggle-label svg {
    position: absolute;
    width: 24px;
    top:8px;
    z-index: 100;
  }
  #darkmode-toggle-label svg.sun {
    left:8px;
    fill:#fff;
    transition: 0.3s;
  }
  #darkmode-toggle-label svg.moon {
    left:68px;
    fill:#7e7e7e;
    transition: 0.3s;
  }
  #darkmode-toggle:checked + #darkmode-toggle-label svg.sun {
    fill:#7e7e7e;
  }
  #darkmode-toggle:checked + #darkmode-toggle-label svg.moon {
    fill:#fff;
  }
  
